body::-webkit-scrollbar {
  display: none;
}
#aside::-webkit-scrollbar {
  display: none;
}
/* nav bar search icon setting */
#search-bar {
  position: relative;
}

#search-input {
  line-height: 2rem;
  border-radius: 10px;
  padding: 0.2rem 2rem;
  font-size: 1.2rem;
  float: right;
}

#search-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.8rem;
  padding: 0px 0.5rem;
}

#mic-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.8rem;
  padding: 0px 0.5rem;
}
.notification {
  color: red;
  font-weight: bold;
}

/* main container section*/
#main-container {
  float: left;
  width: 70%;
}
/* aside section */
#aside {
  position: fixed;
  width: 28%;
  top: 5rem;
  right: 0;
  display: block !important;
  height: calc(100vh - 5rem);
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  overflow-y: auto;
}

/* animate */
.animate img {
  transition: 0.5s all ease-in-out;
}
.animate:hover img {
  transform: scale(1.3);
}

.animate1 img {
  transition: 0.5s all ease-in-out;
}
.animate1:hover img {
  transform: scale(1.1, 1.3);
}

/* common negative margin and padding */
.mt-n1 {
  margin-top: -20px !important;
}
.mt-n3 {
  margin-top: -30px !important;
}

.ml-n1 {
  margin-left: -10px !important;
}
.mt-n2 {
  margin-top: -10px !important;
}

/* transition on image */
.image1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.m1 {
  transition: 0.5s ease-in-out;
  opacity: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hov:hover .image1 {
  opacity: 0.3;
}

.hov:hover .m1 {
  opacity: 1;
}

.text1 {
  color: white;
  font-size: 40px;
  padding: 16px 32px;
}
/* audio section */

audio::-webkit-media-controls-panel {
  background-color: violet !important;
}
